*,
*:after,
*:before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-family:"Barlow","sans-serif";
    font-weight: 600;
    line-height: 1.6;
    color: #818498;
}

.row{
    max-width: 114rem;
    margin: auto;

    font-size: 20px;

}

.header{
    background-image: url(../images/desktop/image-header.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}
.header__arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.nav{
    padding-top: 3rem;

}
.nav__flex{
    display: flex;
    align-items: center;
}
.nav__logo{
margin-right: auto;
}
.nav__list{
    list-style: none;
}
.nav__item{
    display: inline-block;
    padding: 0 2rem;
}
.nav__list{
    text-decoration: none;
    color: #fff;
    font-size: 1.9rem;
}
.btn{
    border: none;
    outline: none;
    border-radius: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 1.5rem;
}
.btn__white{
    padding: 1.5rem 2.5rem;
    background-color: #fff;
    color: #000;
    border-radius: 10rem;
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
}
.heading-primary{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 4rem;
    color: #fff;
    font-family: "Fraunces", sans-serif;
    letter-spacing: 1.1rem;
    font-weight: 900;
}

/********************************About section starts*********************/
.section-about__flex{
    display: flex;
}
.section-about__content{
    padding: 0 10vw;
    align-self: center;
    flex: 0 0 50%;
}
.section-about__content--text{
    margin: 2rem 0 2rem 0;
}
.section-about__image{
    display: block;
    width: 100%;
}
.section-about__image--photo{
    display: block;  
    width: 100%;  
}
.heading-secondary{
    font-size: 3rem;
    font-weight: 900;
    font-family: "Fraunces", sans-serif;
    line-height: 1;
    color: #23303e;

}
.paragraph{
    font-size: 1.5rem;
}
.btn__black{
text-transform: uppercase;
font-family: "Fraunces", sans-serif;
font-weight: 900;
font-size: 1.4rem;
padding: 0;

}
.btn__black--1{
    border-bottom: 3px solid #fad400;
}
.btn__black--2{
    border-bottom: 3px solid #fe7867;
    align-self: flex-start;
}
/*************************About section Ends********************************/
/*************************Services section starts***************************/
.section-services__flex{
    display: flex;
}
.section-services__image{
    flex: 0 0 50%;
}
.section-services__image--photo{
    flex: 0 0 50%;
    width: 100%;
    display: block;
}
.section-services__content{
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10vw;
}
.section-services__content--text{
    margin: 2rem 0;
}
/**********************Services section ends*********************/
/**********************Projects section starts*******************/
.section-projects__flex{
    display: flex;
}
.section-projects__image{
    flex: 0 0 50%;
}
.section-projects__photo{
    width: 100%;
    display: block;
}
.heading-tertiary{
    text-align: center;
    font-size: 3rem;
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
}
.graphic-textBox{
    text-align: center;
    font-size: 1.5rem;
    color: #25564b;
    padding: 0 10vw;
}
.photographyText{
    text-align: center;
    font-size: 1.5rem;
    color: #19536b;
    padding: 0 12vw;
}
.graphic-textBox{
    margin-top: -12rem;
    opacity: 0;
}
.photography-textBox{
    margin-top: -12rem;
    opacity: 0;
}
.section-projects__photo--1:hover + .graphic-textBox{
    transition: all .2s;
    opacity: 1;
    transform: translateY(-8rem);
}
.section-projects__photo--2:hover + .photography-textBox{
    transition: all .2s;
    opacity: 1;
    transform: translateY(-8rem);
}
/*********************Project section ends*****************/
/***********************************Testimonial section starts******************************************/
.testimonials{
    margin: 10rem 0;
    height: 60vh;

}
.testimonials__grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: -1rem;
}
.testimonials__clients--1, .testimonials__clients--2, .testimonials__clients--3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.testimonials__clients--1-photo, .testimonials__clients--2-photo, .testimonials__clients--3-photo{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin-bottom: 3rem;
}
.testimonials__clients--1-text, .testimonials__clients--2-text, .testimonials__clients--3-text{
    font-size: 1.3rem;
    color: #5a636c;
    text-align: center;
    margin-bottom: 4rem;
}
.heading-4{
     font-size: 1.5rem;
     text-align: center;
     font-family: "Fraunces", sans-serif;
     text-transform: uppercase;
     font-weight: 700;
     letter-spacing: 0.25rem;
     margin-bottom: 8rem;
     color: #a7abaa;
}
.emily{
    font-size: 1.5rem;
    font-weight: 900;
    font-family: "Fraunces", sans-serif;
    color: #23503e;
    margin-bottom: 0.2rem;
}
.emily__des{
    font-size: 1.1rem;
    color: #a7abae;
}
/****************Testimonial section ends*******************/
/*******************Gallery section starts***********/
.gallery__images{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));

}
.gallery__images--1, .gallery__images--2, .gallery__images--3, .gallery__images--4{
    width: 100%;
    display: block;
}
/************Galler section ends***********/
/****************Footer starts*********/
.footer{
height: 50vh;
background-color: #458c7e;
}
.footer__flex{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.footer__list{
list-style: none;
display: flex;
}
.footer__item{
margin-bottom: 5rem;
}
.footer__item > *:not(last-child){
    margin-right: 3rem;
}
.footer__link{
text-decoration: none;
color: #10536b;
font-size: 1.5rem;
}
.footer__social{
display: flex;
}
.footer__social > *:not(last-child){
    margin-right: 5rem;
    color: #000;
    font-size: 3rem;
}
.heading-5{
     font-size: 3rem;
     color: #19536b;
     font-family: "Barlow", sans-serif;
     font-weight: 600;
     margin: 4rem 0;
}
/*************Footer ends***********/